@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
text-shadow: none;
text-align: center;
padding: 250px;
font-size: 40px;
}




 h2{
    color: aliceblue;
 }

 button {
    background: none;
    border: 0;
    position: relative;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    
}

button:after {
    content: "";

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #de60ee;

    transition: inherit;

    position: absolute;
    top: -50%;  
    left: -10px;

    opacity: 0.3;
    z-index: -1;
}
button:hover:after{
    width: calc(100% + 20px);
    border-radius: 20px;
    opacity: 0.6;
}
game{
align-items: center;
    background-color: #343434;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 30vw;
    justify-content: space-around;
    padding: 1.5%;
    position: relative;
    width: 30vw;
}

.oi{
    margin-left: 2%;
}
 
